//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #141414;
$white: #fafafa;

$primary-color: #007bff;
$secondary-color: #ff8400;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Poppins", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
