//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #141414;
$white: #fafafa;

$primary-color: #007bff;
$primary-color-dark: #002080;
$primary-color-light: #7dbcff;
$primary-color-hover: #4aa2ff;

$secondary-color: #ff8400;
$secondary-color-hover: #ffa544;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Poppins", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
